<a href="https://colab.research.google.com/github/fernamarestiani/list_string_-Dictionary/blob/main/%5BKD0301%5D_List%2C_String_%26_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://drive.google.com/uc?id=1Jnmc3tPdh1jxyNwURPKEqzpM_qdEwaJc
)

Assalamualaikum warahmatullahi wabarakatuh.

***Robbi Zidni Ilma Warzuqni Fahma***

Semoga Allah memberi kemudahan untuk kita memperoleh ilmu yang bermanfaat.

Ini adalah notebook yang disusun untuk program **Kelas Dasar Pejuang Data 2.0** .

Ini adalah **Notebook, List, String, & Dictionary Pada Python**:

## **Hasil Yang Ingin Dicapai**
1. Memahami List Pada Python
2. Mengenal dan memahami method-method pada List Python
3. Memahami String Pada Python
4. Mengenal dan memahami method-method pada String Python
5. Memahami Dictionary Pada Python
6. Mengenal dan memahami method-method pada Dictionary Python

# **List Pada Python**
List adalah jenis kumpulan data terurut (ordered sequence), dan merupakan salah satu variabel yang sering digunakan pada Python. Serupa, namun tak sama dengan array pada bahasa pemrograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

## Membuat List

In [ ]:
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
print(matkul)

['fuzzy', 'pdp', 'metnum', 'graf']

In [15]:
Idol = ["chanyeol", "sehun", "baekhyun" , "jungkook"]
print(Idol)

['chanyeol', 'sehun', 'baekhyun', 'jungkook']

## Mengakses elemen List

Menampilkan elemen
caranya dengan menggunakan fungsi print

In [ ]:
matkul = ["fuzzy", "pdp", "metnum" , "graph"]
print(matkul[2])
print(matkul[2:])
print(matkul[0:3:2])
print(matkul[-2])
print(matkul[-4:-1])

metnum
['metnum', 'graph']
['fuzzy', 'metnum']
metnum
['fuzzy', 'pdp', 'metnum']

In [17]:
Idol = ["chanyeol", "sehun", "baekhyun" , "jungkook"]
print(Idol[2])
print(Idol[2:])
print(Idol[0:3:2])
print(Idol[-2])
print(Idol[-4:-1])

baekhyun
['baekhyun', 'jungkook']
['chanyeol', 'baekhyun']
baekhyun
['chanyeol', 'sehun', 'baekhyun']

## Mengubah elemen List

cara mengubah elemen dalam list

In [ ]:
matkul = ["fuzzy", "pdp", "metnum" , "graf" , "sisdim"]
matkul[3] = "aktuaria"
print(matkul)

['fuzzy', 'pdp', 'metnum', 'aktuaria', 'sisdim']

In [19]:
Idol = ["chanyeol", "sehun", "baekhyun" , "jungkook" , "lucas"]
Idol[3] = "jackson"
print(Idol)

['chanyeol', 'sehun', 'baekhyun', 'jackson', 'lucas']

## Looping di dalam List

looping pada list

In [ ]:
matkul = ["fuzzy", "pdp", "metnum" , "graf"]

for x in matkul:
  print(x)

fuzzy
pdp
metnum
graf

In [20]:
Ferna = ["cantik", "baik", "sopan" , "ramah"]

for x in Ferna:
  print(x)

cantik
baik
sopan
ramah

## Cek elemen pada List

cara mengecek apakah suatu elemen berada dalam list

In [ ]:
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
if "fuzzy" in matkul:
  print('fuzzy termasuk matkul')

fuzzy termasuk matkul

In [21]:
Ferna = ["cantik", "baik", "sopan" , "ramah"]
if "cantik" in Ferna:
  print('cantik berarti Ferna')

cantik berarti Ferna

## Menghitung jumlah elemen List

cara mengetahui jumlah elemen dalam list

In [ ]:
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
print(len(matkul))

4

In [23]:
Ferna = ["cantik", "baik", "sopan" , "ramah"]
print(len(Ferna))

4

# **Berbagai Method untuk List pada Python**

## Menambah elemen List

cara menambahkan elemen dalam list
ada 2 cara untuk menambahkan elemen pada list, yaitu;
1. menggunakan metode append()
2. menggunakan metode insert()

In [ ]:
#metode append : menambahkan elemen pada baris terakhir
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matkul.append("anreg")
print(matkul)

['fuzzy', 'pdp', 'metnum', 'graf', 'anreg']

In [24]:
ferna = ["cantik", "baik", "pinter" , "rajin"]
ferna.append("perfect banget")
print(ferna)

['cantik', 'baik', 'pinter', 'rajin', 'perfect banget']

In [ ]:
#metode insert : memasukkan elemen pada baris tertentu
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matkul.insert(1, 'anriil')
print(matkul)

['fuzzy', 'anriil', 'pdp', 'metnum', 'graf']

In [25]:
ferna = ["cantik", "baik", "pinter" , "rajin"]
ferna.insert(1, 'sopan')
print(ferna)

['cantik', 'sopan', 'baik', 'pinter', 'rajin']

## Menghapus elemen List

menghapus elemen dalam list
ada beberapa cara untuk menghapus elemen
1. menggunakan keyword del
2. menggunakan metode remove()
3. menggunakan metode pop()
4. menggunakan metode clear()

In [ ]:
#menggunakan keyword del,(bukan hanya bisa menghapus elemen tapi bisa juga untuk mnghapus list)
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
del matkul[3]
print(matkul)
matkul1 = ["fuzzy", "pdp", "metnum" , "graf"]
del matkul

['fuzzy', 'pdp', 'metnum']

In [27]:
favorit = ["drakor", "jajan", "main" , "dia"]
del favorit[3]
print(favorit)
favorit1 = ["drakor", "jajan", "main" , "dia"]
del favorit

['drakor', 'jajan', 'main']

In [ ]:
#menggunakan metode remove(): menggunakan remove() harus menyebutkan nama elemennya langsung
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matkul.remove("fuzzy")
print(matkul)

['pdp', 'metnum', 'graf']

In [28]:
favorit = ["drakor", "jajan", "main" , "dia"]
favorit.remove("main")
print(favorit)

['drakor', 'jajan', 'dia']

In [ ]:
#menggunakan metode remove(): menggunakan remove() harus menyebutkan nama elemennya langsung
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matkul.remove("fuzzy")
print(matkul)

['pdp', 'metnum', 'graf']

In [29]:
favorit = ["drakor", "jajan", "main" , "dia"]
favorit.remove("jajan")
print(favorit)

['drakor', 'main', 'dia']

In [ ]:
#menggunakan metode pop(a): menghapus elemen baris ke-a atau baris terakhir
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matkul.pop(2)
matkul.pop()
print(matkul)

['fuzzy', 'pdp']

In [30]:
suka = ["bakso", "sate", "cilok" , "boba"]
suka.pop(2)
suka.pop()
print(suka)

['bakso', 'sate']

In [ ]:
#menggunakan metode clear(): menghapus seluruh elemen pada list
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matkul.clear()
print(matkul)

[]

In [31]:
suka = ["bakso", "sate", "cilok" , "boba"]
suka.clear()
print(suka)

[]

## Mengkopi List

copy list
ada 2 cara untuk copy list
1. menggunakan metode copy()
2. menggunakan metode list()

In [ ]:
#menggunakan metode copy()
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matlah = matkul.copy()
print(matlah)

['fuzzy', 'pdp', 'metnum', 'graf']

In [32]:
aku = ["kampus", "tugas", "pusing" , "temen"]
me = aku.copy()
print(me)

['kampus', 'tugas', 'pusing', 'temen']

In [ ]:
#menggunakan metode list()
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matlah = list(matkul)
print(matlah)

['fuzzy', 'pdp', 'metnum', 'graf']

In [33]:
aku = ["kampus", "tugas", "pusing" , "temen"]
me = list(aku)
print(me)

['kampus', 'tugas', 'pusing', 'temen']

## Menggabung List

cara menggabungkan 2 list
1. menggunakan tanda +
2. menggunakan metode append()
3. menggunakan metode extend()

In [ ]:
#menggnakan tanda +
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
angka = [1, 2, 3, 4]

hasil = matkul + angka
print(hasil)

['fuzzy', 'pdp', 'metnum', 'graf', 1, 2, 3, 4]

In [37]:
ferna = ["cantik", "manis", "keren" , "pinter"]
angka = [1, 2, 3, 4]

hasil = ferna + angka
print(hasil)

['cantik', 'manis', 'keren', 'pinter', 1, 2, 3, 4]

In [34]:
kamu = ["semangat", "semangat ya", "semangat terus" , "ayo semangat"]
angka = [1, 2, 3, 4]

hasil = kamu + angka
print(hasil)

['semangat', 'semangat ya', 'semangat terus', 'ayo semangat', 1, 2, 3, 4]

In [ ]:
#menggunakan metode append
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
angka = [1, 2, 3, 4]

for x in angka:
  matkul.append(x)

print(matkul)

['fuzzy', 'pdp', 'metnum', 'graf', 1, 2, 3, 4]

In [38]:
ferna = ["cantik", "manis", "keren" , "pinter"]
angka = [1, 2, 3, 4]

for x in angka:
  ferna.append(x)

print(ferna)

['cantik', 'manis', 'keren', 'pinter', 1, 2, 3, 4]

In [35]:
kamu = ["semangat", "semangat ya", "semangat terus" , "ayo semangat"]
angka = [1, 2, 3, 4]

for x in angka:
  kamu.append(x)

print(kamu)

['semangat', 'semangat ya', 'semangat terus', 'ayo semangat', 1, 2, 3, 4]

In [ ]:
#menggunakan metode extend
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
angka = [1, 2, 3, 4]

matkul.extend(angka)
print(matkul)

['fuzzy', 'pdp', 'metnum', 'graf', 1, 2, 3, 4]

In [39]:
ferna = ["cantik", "manis", "keren" , "pinter"]
angka = [1, 2, 3, 4]

ferna.extend(angka)
print(ferna)

['cantik', 'manis', 'keren', 'pinter', 1, 2, 3, 4]

In [36]:
kamu = ["semangat", "semangat ya", "semangat terus" , "ayo semangat"]
angka = [1, 2, 3, 4]

kamu.extend(angka)
print(kamu)

['semangat', 'semangat ya', 'semangat terus', 'ayo semangat', 1, 2, 3, 4]

# **String pada Python**

## *String Literals*
####String literal dalam python diapit oleh tanda kutip tunggal, atau tanda kutip ganda
####'Buku' = "Buku" dalam python ini sama saja
####Anda dapat menampilkan literal string dengan fungsi print ():

In [ ]:
#Contoh :
print("Hello")
print('Hello')

Hello
Hello

Expected output:
```
Hello
Hello
```

In [40]:
#Mulai Program mu....^_^
print("assalamualaikum ")
print('assalamualaikum')

assalamualaikum
assalamualaikum

## *Assign String to a Variable*
####Menetapkan string ke variabel dilakukan dengan nama variabel diikuti dengan tanda sama dengan dan stringnya:

In [ ]:
#Contoh
a = "Hello"
print(a)

Hello

Expected output:
```
Hello
```
Penjelasan :
a adalah variabel
kemudian diikuti tanda samadengan =
kemudian masukkan nilai berupa string yaitu "Hello"

In [41]:
#Mulai Program mu....^_^

a = "Good morning"
print(a)

Good morning

## *Multiline Strings*
####Kita dapat menetapkan string multiline ke variabel dengan menggunakan tiga tanda kutip:

In [ ]:
#Contoh 1
a = '''PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.'''
print(a)

PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.

Expected output:
```
PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.

```

In [5]:
#Mulai Program mu....^_^

a = '''semakin hukum matematika menunjukan realitas, menjadi  semakin tidak pasti,
 semakin pasti, semakin tidak menunjukan realitas.'''
print(a)

semakin hukum matematika menunjukan realitas, menjadi  semakin tidak pasti,
 semakin pasti, semakin tidak menunjukan realitas.

Kita bisa juga menggunakan double tanda kutip, misal : ```"""stringnya"""```

In [ ]:
#Contoh 2
a = """PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika."""
print(a)
#Hasilnya, jeda baris disisipkan pada posisi yang sama seperti pada kode.

PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.

Expected output:
```
PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.
```

Penjelasan : jeda baris disisipkan pada posisi yang sama seperti pada kode.

In [6]:
#Mulai Program mu....^_^
"""semakin hukum matematika menunjukan realitas, menjadi  semakin tidak pasti,
 semakin pasti, semakin tidak menunjukan realitas."""
print(a)

semakin hukum matematika menunjukan realitas, menjadi  semakin tidak pasti,
 semakin pasti, semakin tidak menunjukan realitas.

## *Strings are Arrays*
####Seperti banyak bahasa pemrograman populer lainnya, string dalam Python adalah array byte yang mewakili karakter unicode.
####Namun, Python tidak memiliki tipe data karakter, satu karakter hanyalah string dengan panjang 1
####Tanda kurung siku dapat digunakan untuk mengakses elemen string.

In [ ]:
#Contoh
a = "Hello, World!"
print(a[1])

e

Expected output:
```
e
```
Penjelasan : Dapatkan karakter di posisi 1 (ingat bahwa karakter pertama memiliki posisi 0):

In [42]:
#Mulai Program mu....^_^
a = "Hallo you!"
print(a[1])

a

## *Slicing*
####Anda dapat mengembalikan berbagai karakter dengan menggunakan sintaksis slice.
####Tentukan indeks awal dan indeks akhir, dipisahkan oleh titik dua, untuk mengembalikan bagian dari string.

In [11]:
#Contoh :
b = "Hello, World!"
print(b[2:5])
#Dapatkan karakter dari posisi 2 ke posisi 5 (tidak termasuk):

llo

Expected output:
```
llo
```

In [47]:
#Mulai Program mu....^_^
 b = "Hello, YOU!"
print(b[2:5])

IndentationError: ignored

## *Negative Indexing*
Gunakan indeks negatif untuk memulai potongan dari ujung string:

In [ ]:
#Contoh
b = "Hello, World!"
print(b[-5:-2])
#Dapatkan karakter dari posisi 5 ke posisi 1 (tidak termasuk), mulai hitungan dari akhir string:

orl

Expected output:
```
orl
```

In [48]:
#Mulai Program mu....^_^
b = "you and only you!"
print(b[-5:-2])

 yo

In [ ]:
#Contoh
a = "Hello, World!"
print(len(a))
#Fungsi len () mengembalikan panjang string:

13

Expected Output :
```
13
```

In [49]:
#Mulai Program mu....^_^
lv = "Hello, Mr M!"
print(len(a))

10

## *Check String*
Untuk memeriksa apakah frase atau karakter tertentu ada dalam sebuah string, kita dapat menggunakan kata kunci in atau not in

In [ ]:
#Contoh 1
#Periksa apakah frase "ain" ada dalam teks berikut:
txt = "Hujan di Spanyol umumnya tetap di dataran"
x = "jan" in txt
print(x)

True

Expected Output :
```
True
```

In [50]:
#Mulai Program mu....^_^
txt = "matematika itu indah banget ya"
x = "tem" in txt
print(x)

True

In [ ]:
#Contoh
#Periksa apakah frase "ain" TIDAK ada dalam teks berikut:
txt = "Hujan di Spanyol umumnya tetap di dataran"
x = "jan" not in txt
print(x)

False

Expected Output :
```
False
```

In [51]:
#Mulai Program mu....^_^
txt = "matematika itu indah banget ya"
x = "tem" not in txt
print(x)

False

## *String Concatenation*
Untuk menggabungkan, atau menggabungkan, dua string Anda dapat menggunakan operator +.

In [ ]:
#Contoh
#Gabungkan variabel a dengan variabel b menjadi variabel c
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

Output :
```
HelloWorld
```

In [52]:
#Mulai Program mu....^_^
a = "Hello"
b = "Mr m"
c = a + b
print(c)

HelloMr m

In [ ]:
#Contoh
#Untuk menambahkan spasi di antara keduanya, tambahkan " ":
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

Output :
```
Hello World
```

In [53]:
#Mulai Program mu....
a = "Hello"
b = "Mr m fighting"
c = a + " " + b
print(c)

Hello Mr m fighting

##**String Format**
####Seperti yang kita pelajari di bab Variabel Python, kita tidak bisa menggabungkan string dan angka seperti ini:

In [ ]:
#Contoh
umur = "20"
txt = "Nama saya Mujhid, saya " + umur
print(txt)

Nama saya Mujhid, saya 20

In [54]:
f = "hai"
txt = "Mujhid " + f
print(txt)

Mujhid hai

Output :
```
Nama saya Mujhid, saya 20
```

Tapi kita bisa menggabungkan string dan angka dengan menggunakan metode format ()!

Metode format () mengambil argumen yang diteruskan, memformatnya, dan menempatkannya dalam string di mana placeholder {} berada:

# *Berbagai Method untuk String pada Python*

Python memiliki seperangkat metode bawaan yang dapat Anda gunakan pada string.

### Strip()

Method strip() berfungsi untuk menghapus spasi apa pun dari awal atau akhir

In [ ]:
#Contoh
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

Output :
```
Hello, World!
```

In [55]:
#Mulai Program Mu....
a = " Good morning everyone, fighting! "
print(a.strip()) # returns "Hello, World!"

Good morning everyone, fighting!

###Lower()
#####Metode lower () mengembalikan string dalam huruf kecil:

In [ ]:
#Contoh
a = "HELLO, World!"
print(a.lower())

hello, world!

In [56]:
 a = " Good morning everyone, fighting! "
print(a.lower())

 good morning everyone, fighting!

Output :
```
hello, world!
```

###Upper()
#####Metode upper() mengembalikan string dalam huruf besar:

In [ ]:
#Contoh
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [57]:
a = " Good morning everyone, fighting! "
print(a.upper())

 GOOD MORNING EVERYONE, FIGHTING!

Output :
```
HELLO, WORLD!
```

###Replace()
#####Metode replace () menggantikan string dengan string lain:

In [ ]:
#Contoh
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [59]:
a = "Good morning everyone,fighting! "
print(a.replace("H", "J"))

Good morning everyone,fighting!

Output :
```
Jello, World!
```

###Split()
#####Metode split () membagi string menjadi beberapa substring jika menemukan contoh pemisah:

In [ ]:
#Contoh
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [60]:
a = "Hello, Mr m !"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' Mr m !']

Output :
```
['Hello', ' World!']
```

###Capitalize()
#####Metode capitalize () menggantikan karakter pertama menjadi huruf apital

In [ ]:
#Contoh
a = "hello, world"
print(a.capitalize())

Hello, world

In [61]:
a = "Hello, Mr m !"
print(a.capitalize())

Hello, mr m !

Output :
```
Hello, world
```

###Casefold()
#####Metode casefold () Mengubah string menjadi huruf kecil

In [ ]:
#Contoh
a = "Hello, World"
print(a.casefold())

hello, world

In [62]:
a = "Hello, Mr m !"
print(a.casefold())

hello, mr m !

###Count()
#####Metode count () Mengembalikan frekuensi nilai yang ditentukan muncul dalam string

In [ ]:
# definiskan string
string = "Python is awesome, isn't it?"
substring = "is"

count = string.count(substring)

# print count
print("Jumlah :", count)

Jumlah : 2

In [63]:
string = "you are so awesome, cool and mysterious "
substring = "so"

count = string.count(substring)

# print count
print("Jumlah :", count)

Jumlah : 2

Output :
```
Jumlah : 2
```

###Encode()
#####Metode encode () mengembalikan string yang berada di tengah

In [ ]:
a = "My name is Mujhid"

x = a.encode()

print(x)

b'My name is Mujhid'

In [64]:
a = "lets get closer"

x = a.encode()

print(x)

b'lets get closer'

###Swapcase()
#####Metode swapcase () untuk menukar kasus, huruf kecil menjadi huruf besar dan sebaliknya

In [ ]:
a = "My Name is Mujhid"

x = a.swapcase()

print(x)

mY nAME IS mUJHID

In [65]:
a = "lets get closer"
x = a.swapcase()

print(x)

LETS GET CLOSER

Output :
```
mY nAME IS mUJHID
```



---


# **Dictionary Pada Python**


---


Berbeda dengan List dan Tuple, didalam Dictionary Python setiap urutanya berisi key dan value yang bersifat tidak berurutan. 
1. Setiap key dipisahkan dari value-nya oleh titik dua (:)
2. item dipisahkan oleh koma, dan semuanya tertutup dalam kurung kurawal. 
3. Dictionary kosong tanpa barang ditulis hanya dengan dua kurung kurawal, seperti ini: {}.

**Contoh 1:**

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 'NIM' : 180015065}
print(type(dict))

<class 'dict'>

Yuk coba buat dictionary kamu :)

In [68]:
#Membuat directory
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 'NIM' : 180015008}
print(type(dict))

<class 'dict'>

## Mengakses Nilai pada Dictionary
Untuk mengakses elemen Dictionary, dapat menggunakan kurung siku yang berisi key ['key'] untuk mendapatkan value yang diinginkan.

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
print(type(dict))
print("dict['Universitas'] = ", dict['Universitas'])
print("dict['Prodi'] =", dict['Prodi'])
print("dict['Tahun'] =", dict['Tahun'])
print("dict[1800015065] = ", dict[1800015065])

<class 'dict'>
dict['Universitas'] =  UAD
dict['Prodi'] = Matematika
dict['Tahun'] = 2018
dict[1800015065] =  NIM

Nah sekarang coba akses nilai di dictionary kamu, go go go

In [71]:
#Mengakses nilai directory
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015008 : 'NIM'}
print(type(dict))
print("dict['Universitas'] = ", dict['Universitas'])
print("dict['Prodi'] =", dict['Prodi'])
print("dict['Tahun'] =", dict['Tahun'])
print("dict[1800015008] = ", dict[1800015008])

<class 'dict'>
dict['Universitas'] =  UAD
dict['Prodi'] = Matematika
dict['Tahun'] = 2018
dict[1800015008] =  NIM

## Mengubah Nilai pada Dictionary
Anda dapat memperbarui Dictionary dengan menambahkan entri baru atau pasangan nilai kunci, memodifikasi entri yang ada, atau menghapus entri yang ada

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
dict[1800015065] = 'Bukan NIM' #Mengubah entri atau value yang sudah ada
dict['Universitas'] = 'UGM' #Menambah entri atau value
print("dict[1800015065] =", dict[1800015065]);
print("dict['Universitas'] =", dict['Universitas']);

dict[1800015065] = Bukan NIM
dict['Universitas'] = UGM

In [76]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015008 : 'NIM'}
dict[1800015008] = 'NIM' #Mengubah entri atau value yang sudah ada
dict['Universitas'] = 'UAD' #Menambah entri atau value
print("dict[1800015008] =", dict[1800015008]);
print("dict['Universitas'] =", dict['Universitas']);

dict[1800015008] = NIM
dict['Universitas'] = UAD

In [ ]:
thisdict = {
    "brand" : "Toyota",
    "model" : "Kijang",
    "year" : 2004
}
print(thisdict)

{'brand': 'Toyota', 'model': 'Kijang', 'year': 2004}

In [73]:
thisdict = {
    "brand" : "Gucci",
    "brand ambassador" : "ferna",
    "year" : 2021
}
print(thisdict)

{'brand': 'Gucci', 'brand ambassador': 'ferna', 'year': 2021}

Sekarang sudah tau kan kalo nilai dictionary bisa diubah dan kalian sudah paham kan gimana ngubahnya, yuk dicoba dulu biar makin paham :)

In [75]:
#Mengubah nilai directory
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015008 : 'NIM'}
dict[1800015008] = ' NIM' #Mengubah entri atau value yang sudah ada
dict['Universitas'] = 'UAD' #Menambah entri atau value
print("dict[1800015008] =", dict[1800015008]);
print("dict['Universitas'] =", dict['Universitas']);

dict[1800015008] =  NIM
dict['Universitas'] = UAD

## Loop Melalui Dictionary

Pada bagian Pengulangan melalui Dictionary, kita dapat melakukan Loop(Pengulangan) melalui Dictionary dengan menggunakan **for** loop.

Saat melakukan pengulangan melalui Dictionary, nilai yang dikembalikan adalah kunci dari Dictionary, tetapi terdapat metode untuk mengembalikan nilai

Sebagai contoh :
Print semua nama kunci dalam Dictionary satu per satu

In [ ]:
for x in thisdict:
  print(x)

brand
model
year

In [77]:
for x in thisdict:
  print(x)

brand
brand ambassador
year

**Contoh 2:**

Print semua *nilai* dalam Dictionary satu per satu

In [ ]:
for x in thisdict:
  print(thisdict[x])

Toyota
Kijang
2004

In [78]:
for x in thisdict:
  print(thisdict[x])

Gucci
ferna
2021

**Contoh 3:**

Kita juga dapat menggunakan **values()** yang merupakan metode untuk mengembalikan nilai Dictionary

In [ ]:
for x in thisdict.values():
  print(x)

Toyota
Kijang
2004

In [79]:
for x in thisdict.values():
  print(x)

Gucci
ferna
2021

**Contoh 4:**

Ulangi kedua kunci dan nilai, dengan menggunakan metode **items()**:

In [ ]:
for x, y in thisdict.items():
  print(x, y)

brand Toyota
model Kijang
year 2004

In [80]:
for x, y in thisdict.items():
  print(x, y)

brand Gucci
brand ambassador ferna
year 2021

Di atas sudah diberikan contoh loop melalui directory menggunakan berbagai cara, sekarang kalian coba biar makin paham

In [81]:
#Loop Melalui Directory

for x, y in thisdict.items():
  print(x, y)

brand Gucci
brand ambassador ferna
year 2021

## Mengecek keanggotaan suatu key
Untuk menentukan apakah kunci tertentu ada dalam Dictionary gunakan **in** sebagai kunci

**Contoh 6:**

Cek jika "model" terdapat pada Dictionary

In [ ]:
thisdict = {
    "brand" : "Toyota",
    "model" : "Kijang",
    "tahun" : 2004
}
if "model" in thisdict :
  print("Yes, 'model' adalah salah satu dari kunci dalam distict dictionary")

Yes, 'model' adalah salah satu dari kunci dalam distict dictionary

In [83]:
thisdict = {
    "brand" : "GUCCI",
    "brand ambassador" : "ferna",
    "tahun" : 2021
}
if "model" in thisdict :
  print("Yes, 'model' adalah salah satu dari kunci dalam distict dictionary")

Sekarang kalian coba deh cek keanggotaan suatu key yang ada di dictionary kalian, siapa tahu bukan merupakan anggota kan, bisa jadi penyusup xixixi

In [85]:
#Mengecek keanggotaan suatu key
thisdict = {
    "brand" : "GUCCI",
    "brand ambassador" : "ferna",
    "tahun" : 2021
}
if "brand ambassador" in thisdict :
  print("Yes, 'brand ambassador' adalah salah satu dari kunci dalam distict dictionary")

Yes, 'brand ambassador' adalah salah satu dari kunci dalam distict dictionary

## Menambah Item

Untuk menambahkan item, kita dapat menggunakan kunci index baru dengan langsung memberikan nilainya. Untuk contohnya, bisa dilihat kode di bawah ini yaa :)

In [ ]:
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

thisdict['School'] = "DPS School" # Menambah entri baru pada thisdict

print (thisdict)

{'Name': 'Zara', 'Age': 7, 'Class': 'First', 'School': 'DPS School'}

In [86]:
thisdict = {'Nama': 'Ferna', 'Umur': 20, 'Univ': 'UAD'}

thisdict['jurusan'] = "matematika" # Menambah entri baru pada thisdict

print (thisdict)

{'Nama': 'Ferna', 'Umur': 20, 'Univ': 'UAD', 'jurusan': 'matematika'}

Selain menggunakan format di atas, untuk menambahkan item kita juga bisa menggunakan method update().

In [ ]:
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

thisdict.update({"School": "DPS School"}) #Menambah item baru pada thisdict

print(thisdict)

{'Name': 'Zara', 'Age': 7, 'Class': 'First', 'School': 'DPS School'}

In [87]:
thisdict = {'Nama': 'Ferna', 'Umur': 20, 'Univ': 'UAD'}
thisdict.update({"School": "DPS School"}) #Menambah item baru pada thisdict

print(thisdict)

{'Nama': 'Ferna', 'Umur': 20, 'Univ': 'UAD', 'School': 'DPS School'}

Nah iya nih dalam menambah item baru pada dictionary bisa dilakukan dengan 2 cara, menurut kalian mudah yang mana, dicoba dulu biar tahu rasanya hohoho

In [88]:
#Menambah item baru pada dictionary
thisdict = {'Nama': 'Ferna', 'Umur': 20, 'Univ': 'UAD'}
thisdict.update({"School": "DPS School"}) #Menambah item baru pada thisdict

print(thisdict)

{'Nama': 'Ferna', 'Umur': 20, 'Univ': 'UAD', 'School': 'DPS School'}

## Menghapus Item

Untuk menghapus item yang ada pada Dictionary, kita bisa menggunakan perintah del, method pop(), method popitem(), dan method clear().

- Fungsi del adalah fungsi untuk menghapus suatu variabel dari memori.

- Method pop() adalah method yang berfungsi untuk mengeluarkan item yang diinginkan dari dictionary.

- Method popitem() adalah method yang digunakan untuk menghapus item yang terakhir.

- Method clear() adalah method yang digunakan untuk mengosongkan dictionary.

In [ ]:
#Menghapus item menggunakan del
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del thisdict["Name"]

print(thisdict)

{'Age': 7, 'Class': 'First'}

In [90]:
thisdict = {'Nama': 'Ferna', 'Umur': 20, 'Univ': 'UAD'}
del thisdict["Nama"]

print(thisdict)

{'Umur': 20, 'Univ': 'UAD'}

In [ ]:
#Menghapus item menggunakan method pop()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
thisdict.pop("Age")

print(thisdict)

{'Name': 'Zara', 'Class': 'First'}

In [91]:
thisdict = {'Nama': 'Ferna', 'Umur': 20, 'Univ': 'UAD'}
thisdict.pop("Umur")

print(thisdict)

{'Nama': 'Ferna', 'Univ': 'UAD'}

In [ ]:
#Menghapus item menggunakan method popitem()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
thisdict.popitem()

print(thisdict)

{'Name': 'Zara', 'Age': 7}

In [92]:
thisdict = {'Nama': 'Ferna', 'Umur': 20, 'Univ': 'UAD'}
thisdict.popitem()

print(thisdict)

{'Nama': 'Ferna', 'Umur': 20}

In [ ]:
#Menghapus item menggunakan method clear()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
thisdict.clear()

print(thisdict)

{}

In [93]:
thisdict = {'Nama': 'Ferna', 'Umur': 20, 'Univ': 'UAD'}
thisdict.clear()

print(thisdict)

{}

Dan kalo menghapus dictionary ternyata ada 4 cara lohh, pada contoh di atas sudah jelas kan, supaya tambah jelas silahkan dicoba yaa ;)

In [94]:
thisdict = {'Nama': 'Ferna', 'Umur': 20, 'Univ': 'UAD'}
del thisdict["Nama"]

print(thisdict)#Menghapus item menggunakan del


thisdict = {'Nama': 'Ferna', 'Umur': 20, 'Univ': 'UAD'}
thisdict.pop("Umur")

print(thisdict)#Menghapus item menggunapak method pop()


thisdict = {'Nama': 'Ferna', 'Umur': 20, 'Univ': 'UAD'}
thisdict.popitem()

print(thisdict)#Menghapus item menggunakan method popitem()


thisdict = {'Nama': 'Ferna', 'Umur': 20, 'Univ': 'UAD'}
thisdict.clear()

print(thisdict)#Menghapus item menggunakan method clear()

{'Umur': 20, 'Univ': 'UAD'}
{'Nama': 'Ferna', 'Univ': 'UAD'}
{'Nama': 'Ferna', 'Umur': 20}
{}

## Menyalin Dictionary

Untuk menyalin dictionary, kita dapat menggunakan method copy().

In [ ]:
#Menggunakan method copy()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
mydict=thisdict.copy()

print(mydict)

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [95]:
thisdict = {'nama': 'M', 'umur': 21, 'xx': 'awesome'}
mydict=thisdict.copy()

print(mydict)

{'nama': 'M', 'umur': 21, 'xx': 'awesome'}

Yuk coba salin dictionary yang telah kalian buat tadi, biar bisa diotak atik lagi xixixi

In [96]:
#Menyalin dictionary

thisdict = {'nama': 'M', 'umur': 21, 'xx': 'awesome'}
mydict=thisdict.copy()

print(mydict)

{'nama': 'M', 'umur': 21, 'xx': 'awesome'}

## Nested Dictionary
Nested Dictionary atau kamus bertingkat merupakan suatu kamus yang mana kamus tersebut bisa diisi dengan satu atau lebih kamus di dalamnya.

Kita akan membuat sebuah contoh Kamus yang memuat 3 kamus di dalamnya

In [ ]:
Keluarga_afif={
    "anak1":{
        "nama":"dera",
        "Tanggal Lahir": 19012000
    },
    "anak2":{
        "nama":"Joko",
        "Tanggal Lahir": 17091997 
    },
    "anak3":{
        "nama":"Asih",
        "Tanggal Lahir": 20022000
    }
}

print(Keluarga_afif)

{'anak1': {'nama': 'dera', 'Tanggal Lahir': 19012000}, 'anak2': {'nama': 'Joko', 'Tanggal Lahir': 17091997}, 'anak3': {'nama': 'Asih', 'Tanggal Lahir': 20022000}}

In [97]:
gurl_bahagia={
    "gurl1":{
        "nama":"widya",
        "nomor mahasiswa": 18000150015
    },
    "gurl2":{
        "nama":"lina",
        "nomor mahasiswa": 1800015002
    },
    "gurl3":{
        "nama":"salma",
        "Tanggal Lahir": 1800015090
    }
}

print(gurl_bahagia)

{'gurl1': {'nama': 'widya', 'nomor mahasiswa': 18000150015}, 'gurl2': {'nama': 'lina', 'nomor mahasiswa': 1800015002}, 'gurl3': {'nama': 'salma', 'Tanggal Lahir': 1800015090}}

Kita akan membuat suatu Kamus yang akan berisi 3 kamus lainnya

In [ ]:
anak1={"nama":"Rikma","Tanggal Lahir":19012000}
anak2={"nama":"Joko","Tanggal Lahir":17091997}
anak3={"nama":"Asih","Tanggal Lahir":20022000}

Keluarga_afif={"anak1":anak1,"anak2":anak2,"anak3":anak3}
print(Keluarga_afif)

{'anak1': {'nama': 'Rikma', 'Tanggal Lahir': 19012000}, 'anak2': {'nama': 'Joko', 'Tanggal Lahir': 17091997}, 'anak3': {'nama': 'Asih', 'Tanggal Lahir': 20022000}}

In [98]:
gurl1={"nama":"ferna","nomor mahasiswa":1800015008}
gurl2={"nama":"winda","nomor mahasiswa":1800015108}
gurl3={"nama":"resti","nomor mahasiswa":1800015071}

gurl_bahagia={"gurl1":gurl1,"gurl2":gurl2,"gurl3":gurl3}
print(gurl_bahagia)

{'gurl1': {'nama': 'ferna', 'nomor mahasiswa': 1800015008}, 'gurl2': {'nama': 'winda', 'nomor mahasiswa': 1800015108}, 'gurl3': {'nama': 'resti', 'nomor mahasiswa': 1800015071}}

Atau kita juga dapat menggunakan fungsi dict() untuk membuat kamus yang baru

In [ ]:
Indoapril=dict(barang='Minuman',merek='BearBrand',harga=7000)
#Perlu di perhatikan  bahwa dalam fungsi dict() kita tidak lagi memakai kolon (:) tetapi menggunakan sama dengan (=)
print(Indoapril)

TypeError: ignored

In [99]:
Indoapril=dict(barang='sepatu',merek='vans',harga=2700000)
#Perlu di perhatikan  bahwa dalam fungsi dict() kita tidak lagi memakai kolon (:) tetapi menggunakan sama dengan (=)
print(Indoapril)

TypeError: ignored

Paham belum nih tentang materi nested dictionary, coba sekarang kalian buat dan pahami, nanti pasti paham kalo udah nyoba ;)

In [100]:
#Nested dictionary
gurl1={"nama":"ferna","nomor mahasiswa":1800015008}
gurl2={"nama":"winda","nomor mahasiswa":1800015108}
gurl3={"nama":"resti","nomor mahasiswa":1800015071}

gurl_bahagia={"gurl1":gurl1,"gurl2":gurl2,"gurl3":gurl3}
print(gurl_bahagia)

{'gurl1': {'nama': 'ferna', 'nomor mahasiswa': 1800015008}, 'gurl2': {'nama': 'winda', 'nomor mahasiswa': 1800015108}, 'gurl3': {'nama': 'resti', 'nomor mahasiswa': 1800015071}}



---


#**Berbagai Method untuk Dictionary**

---

- clear() : Menghapus semua elemen dictionary
- copy() : Mengembalikan salinan dictionary
- fromkeys() : Buat Dictionary baru dengan kunci dari seq dan nilai yang disetel ke nilai.
- get() : Mengembalikan nilai dari kunci yang ditentukan
- items() : Mengembalikan daftar dari pasangan tuple dictionary (key, value)
- keys() : Mengembalikan daftar key dictionary
- pop() : Menghapus item kunci yang disebutkan
- popitem() : Menghapus item yang terakhir dimasukkan
- setdefault() : Mengembalikan nilai dari kunci yang ditentukan. Jika kunci tidak ada: masukkan kunci dengan nilai yang ditentukan
- update() : Menambah pasangan kunci yang diinginkan
- values() : Mengembalikan daftar nilai dictionary

## Clear()
Untuk menghapus semua item/elemen yang termuat didalam dictionary, gunakan fungsi **clear()**

dictionary.clear

print(dictionary)

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
dict.clear()
print(dict)

{}

In [101]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015008 : 'NIM'}
dict.clear()
print(dict)

{}

## Copy()
Untuk mengcopy/menyalin item didalam dictionary, bisa digunakan fungsi **copy()**

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
C=dict.copy()
print(C)

{'Universitas': 'UAD', 'Prodi': 'Matematika', 'Tahun': 2018, 1800015065: 'NIM'}

In [102]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015008 : 'NIM'}
C=dict.copy()
print(C)

{'Universitas': 'UAD', 'Prodi': 'Matematika', 'Tahun': 2018, 1800015008: 'NIM'}

##Fromkeys()
Untuk menyalin elemen di dalam dictionary, namun dengan kunci(key) dan nilai(value) tertentu, dapat menggunakan fungsi **fromkeys()**

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
x = ('Universitas', 'Prodi')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'Universitas': 0, 'Prodi': 0}

In [103]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015008 : 'NIM'}
x = ('Tahun', 'NIM')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'Tahun': 0, 'NIM': 0}

## Get()

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car.get('model'))

Mustang

In [104]:
airplane =	{
  "brand": "Garuda Indonesia",
  "model": "Garuda",
  "year": 6745
}

print(airplane.get('brand'))

Garuda Indonesia

##Items()

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car.items())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [105]:
airplane =	{
  "brand": "Garuda Indonesia",
  "model": "Garuda",
  "year": 6745
}
print(airplane.items())

dict_items([('brand', 'Garuda Indonesia'), ('model', 'Garuda'), ('year', 6745)])

##Pop()

Menghapus item kunci sekaligus value yang disebutkan,mari kita lihat contohnya dibawah ini

In [ ]:
indoapril={'Barang':'Gundam','Merek':'Bandai','Jumlah':200}
indoapril.pop('Barang')
print(indoapril)

{'Merek': 'Bandai', 'Jumlah': 200}

In [107]:
indoapril={'barang':'pakaian','Merek':'prada','Jumlah':50}
indoapril.pop('barang')
print(indoapril)

{'Merek': 'prada', 'Jumlah': 50}

## Popitem()

Menghapus item yang terakhir dimasukkan

In [ ]:
#Kita akan menghilangkan pelakor dalam "kehidupan_keluarga"
kehidupan_keluarga={'suami':'Budi','istri':'Dewi','pelakor':'Sari'}
kehidupan_keluarga.popitem()
print(kehidupan_keluarga)

{'suami': 'Budi', 'istri': 'Dewi'}

In [108]:
kehidupan_keluarga={'suami':'lee tae oh','istri':'ji sun woo','pelakor':'yeo da kyung'}
kehidupan_keluarga.popitem()
print(kehidupan_keluarga)

{'suami': 'lee tae oh', 'istri': 'ji sun woo'}

## Update()

Menambahkan pasangan kunci yang diinginkan

In [ ]:
indoapril={'Barang':'Gundam','Merek':'Bandai','Jumlah':2000}
indoapril.update({'Tanggal_Masuk': 12022020})
print(indoapril)

{'Barang': 'Gundam', 'Merek': 'Bandai', 'Jumlah': 2000, 'Tanggal_Masuk': 12022020}

In [109]:
indoapril={'barang':'pakaian','Merek':'prada','Jumlah':50}
indoapril.update({'Tanggal_Masuk': 17652000})
print(indoapril)

{'barang': 'pakaian', 'Merek': 'prada', 'Jumlah': 50, 'Tanggal_Masuk': 17652000}

## Values()

Mengembalikan daftar nilai pada dictionary

In [ ]:
indoapril={'Barang':'Gundam','Merek':'Bandai','Jumlah':200}
a=indoapril.values()
print(a)

dict_values(['Gundam', 'Bandai', 200])

In [110]:
indoapril={'barang':'pakaian','Merek':'prada','Jumlah':50}
a=indoapril.values()
print(a)

dict_values(['pakaian', 'prada', 50])

## len()

Method len digunakan untuk mengetahui banyaknya item yang ada pada directory

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(len(car))

3

In [111]:
airplane =	{
  "brand": "Garuda Indonesia",
  "model": "Garuda",
  "year": 17654
}

#The End Of Notebook

Alhamdulillah